@charset "UTF-8";

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {

    width: 400px;
    border-collapse: collapse;
}

caption{

    background-color: lightgrey;

}

thead { 

    position: sticky;
    top: -1px;

}

 th {

    background-color: darkgrey;
    border: 1px solid black;
    color: white;
    text-shadow: 1px 1px 2px  black;
}

.area {

    background-color: white;
    color: black;
    text-shadow: none;

}

.media {

    text-align: left;
}

.valor {

    background-color: darkgrey;
    border: 1px solid black;
    color: white;
    text-shadow: 1px 1px 2px  black;
    
}

td {

    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-size: small;

}