@charset "UTF-8";

@media screen and (min-width: 426px) and (max-width: 1104px) {

    .logo {

        margin-left: 20px;
    }

    .menu-icon {

        display: block;
        margin-right: 20px;
        cursor: pointer;

    }

    .menu-icon img {

        width: 35px;
        height: auto;

    }

    .menu nav {

        display: none;
        position: absolute;
        width: 40vw;
        height: calc(100vh - 100px);
        background-color: rgba(0, 0, 0, 0.8);
        right: 0px;
        margin-top: 40px;
        border-radius: 10px;
    
    }

    .menu ul {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .menu li a {
        
        
        width: 300px;
        padding-left: 50px;
        margin-top: 30px;
        padding-bottom: 10px;
        height: 20px;
        border-bottom: 5px solid rgba(0, 0, 0, 0);

    }

    .menu li a:hover {
    
        border-bottom:5px solid #b2875600;
        color: #b28756;
    
    }

    .content {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1140px;
        margin: 25px auto;
    
    }

    .about-right img {

        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.51);
        margin: auto;
        margin-top: 50px;
    
    }

    .services {

        max-width: 1140px;
        display: flex;
        flex-direction: row;
        
    }

    .opa .sliders {

        display: flex;
        max-width: 1140px;
        flex-wrap: wrap;
        justify-content: center;
    
    
    }


    .opa .slide {

        width: 200px;
        display: flex;
        margin: 0%;
        margin-bottom: 30px;
        border: 1px solid #ccc;
    
    }

    .opa .slide h1 {

      word-spacing: 40px;
    
    }

    .prices {

        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }

    .marcas {

        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .marca {

        display: flex;
        margin: 10px 40px;
        background-color: #000;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    
    }

    .form {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }

}

@media screen and (min-width: 320px) and (max-width: 426px)  {

    .logo {

        margin-left: 20px;
    }

    .menu-icon {

        display: block;
        margin-right: 20px;
        cursor: pointer;

    }

    .menu-icon img {

        width: 35px;
        height: auto;

    }

    .menu nav {

        display: none;
        position: absolute;
        width: 70vw;
        height: calc(100vh - 110px);
        background-color: rgba(0, 0, 0, 0.8);
        right: 0px;
        margin-top: 20px;
        border-radius: 10px;
    
    }

    .menu ul {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .menu li a {
        
        
        width: 300px;
        padding-left: 50px;
        margin-top: 30px;
        padding-bottom: 10px;
        height: 20px;
        border-bottom: 5px solid rgba(0, 0, 0, 0);

    }

    .menu li a:hover {
    
        border-bottom:5px solid #b2875600;
        color: #b28756;
    
    }

    .banner .slide {

        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: center;
    
    }

    .banner h1 {

        color: #fff;
        text-transform: uppercase;
        font-size: 30px;

    
    }

    .banner h1 span {

        color: #b28756;
        font-size: 30px;
    
    }

    .banner h2 {

        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    
    }

    .content {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 320px;
        margin: 25px auto;
    
    }

    .about-left  {

      text-align: left;
      width: 200px;

    
    }


    .about-right img {

        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.51);
        margin: auto;
        margin-top: 30px;
        width: 200px;
        height: auto;

    
    }

    .selecao {

        border: 1px solid #999;
        border-radius: 30px;
    
    }
    
    .selecao ul, li {
    
        list-style: none ;
    
    }
    
    .selecao ul {
    
        width: 300px;
        background-color: #ccc;
        border-radius: 30px;
    }
    
    .selecao li {
    
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-size: 13px;
        border-left: 1px solid #999;
        color: #555;
        border-bottom: 3px solid #ccc;
        cursor: pointer;
    
    }

    .services {

        max-width: 1140px;
        display: flex;
        flex-direction: row;
        
    }

    .opa .sliders {

        display: flex;
        max-width: 1140px;
        flex-wrap: wrap;
        justify-content: center;
    
    
    }


    .opa .slide {

        width: 200px;
        display: flex;
        margin: 0%;
        margin-bottom: 30px;
        border: 1px solid #ccc;
    
    }

    .opa .slide h1 {

      word-spacing: 40px;
    
    }

    .prices {

        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }

    .marcas {

        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .marca {

        display: flex;
        margin: 10px 40px;
        background-color: #000;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    
    }

    .about-left  img {

        text-align: left;
        width: 200px;
  
      
      }


      .form {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 200px;
    
    }
    
    .form1 {
        
        display: flex;
        flex-wrap: wrap;
        width: 200px;
    
    }
    
    .form2 {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 200px;
    
    }

    .map-info {

        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 10px auto;
        width: 300px;
        height: 370px;
        margin: auto;
        background-color: #fff;
    
    }

   
}