@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    
}

body {

    overflow-x: hidden;

}

header {

    height: 100px;
    background-color: black;

}

.header {

    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    margin: auto;
    justify-content: space-between;

}

.logo {

    display: flex;
    height: 80px;
    width: 80px;
    background-color: #b28756;
    border-radius: 50%;

}


.menu ul, li{

    display: flex;
    list-style: none;

}

.menu li a {

    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
    font-weight: bold;
    text-decoration: none;

}

.menu li a:hover {
    
    border-bottom:5px solid #b28756;
    color: #b28756;

}

.banner {

    height: calc(100vh - 100px);
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;


}

.banner .sliders {

    display: flex;
    width: 1000vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);


}

.banner .slide {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.banner h1 {

    color: #fff;
    text-transform: uppercase;
    font-size: 50px;

}

.banner h1 span {

    color: #b28756;

}

.banner h2 {

    color: #fff;
    font-size: 20px;
    margin: 10px 0px;
    text-transform: uppercase;

}

.button {

    background-color: #b28756;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;

}

.banner .seletores {

    display: flex;
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -120px;
    justify-content: center;
    align-items: center;

}

.banner .seletor {

    height: 15px;
    width: 15px;
    border: 2px solid #b28756;
    border-radius: 50%;
    margin: 0px 5px;

}

.banner .seletor:hover{

    background-color: #b28756;
    cursor: pointer;

}

.default {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;

}

.default h1 {

    text-transform: uppercase;
    font-weight: bold;

}

.default h2 {

    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0px;
    color: #ccc;

}

.default.dark  {

    background-color: black;

}

.default.dark h1 {

    color: #fff;

}

.content {

    display: flex;
    justify-content: space-between;
    margin: 25px 0px;

}

.about-right p {

    line-height: 25px;

}

.about-left img {

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.51);
}
    










