@charset "UTF-8";

/*Midias*/

video {

    display: block;
    height: 90vh;
    width: 380px;

}

.vexterno {

    display: block;
    max-width: 380px;
}

#vimeo {

    display: block;
    max-width: 600px;
}

/*---------------------------*/


/*PSEUDO CLASSES E PSEUDO ELEMENTOS*/


.d, #d2{

    display:inline-block ;
    text-align: center;
    background-color: gray;
    border: 1px solid black;
    width: 200px;
    height: 200px;

}

#d2:hover{
    
    background-color: green;
 
}


#d2  p {

    display: none;
    background-color: rebeccapurple;
    text-decoration: white;

}

.d:hover{
    background-color: yellow;
    cursor: pointer;
}

#d2:hover  p{

    display: block;
    
}

#pseudo a {

    color: darkred;
    text-decoration: none;
    font-weight: bold;

}

#pseudo a:hover{

    text-decoration: line-through;
}

#pseudo a:active{

    color: black;

}

#pseudo a:visited{

    color: darkgreen;
}

#pseudo a::before{

    content: '➟ ';

}

#pseudo a::after{

    content: ' ⚓';

}

/*-----------------------------------*/


/*Tabelas*/

table {

    width: 400px;
    border-collapse: collapse;
}

caption{

    background-color: lightgrey;

}

thead { 

    position: sticky;
    top: -1px;

}

 th {

    background-color: darkgrey;
    border: 1px solid black;
    color: white;
    text-shadow: 1px 1px 2px  black;
}

.area {

    background-color: white;
    color: black;
    text-shadow: none;

}

.media {

    text-align: left;
}

.valor {

    background-color: darkgrey;
    border: 1px solid black;
    color: white;
    text-shadow: 1px 1px 2px  black;
    
}

td {

    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-size: small;

}

/*----------------------------------------*/

/*Iframe*/

#frame {

    width: 95vw;
    height: 500px;
}

/*-----------------------------------------*/

/*Animação*/

@keyframes anime {

    0% {background-color: red; top: 0; left: 90%;}
    25% {background-color: yellow; top: 0; left: 0%;}
    50% {background-color: blue; top: 0; left: 0%;}
    75% {background-color: green; top: 0; left: 0%;}
    100% {background-color: red; top: 0; left: 90%;}
    
}

div .area-anime {
    display: block;
    height: 80px;
    width: 90vw;



}

div .anime {

    position: relative;
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    animation-name: anime;
    animation-duration: 3s;
    animation-delay:1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;

}
/*-----------------------------------------*/







