@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

:root {
    --cor0:#ebe5c5;
    --cor1:#83E1AD;
    --cor2:#3DDC84;
    --cor3:#2FA866;
    --cor4:#1A5C37;
    --cor5:#063d1E;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'android',cursive;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    

}

header {

    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    min-height: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}
 header h1 {

    font-family: var(--font-destaque);
    font-size: 4em;
    font-weight: normal;
    color: white;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);


 }

 header p {

    color: white;
    text-align: center;
    margin-top: -5px;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);

 }

 nav {

    background-color: var(--cor5);
    box-shadow: rgb(0 0 0 / 24%) -1px 6px 6px 0px;
    padding: 0px 0px 10px 10px;

 }

 nav a{

    color: white;
    text-decoration: none;
    margin: 3px;
    transition-duration: 200ms;

 }

 nav a:hover{
    color: var(--cor5);
    background-color: var(--cor2);
    border-radius: 5px;
 }

 main{

    background-color: white;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    padding: 10px;
    border-radius: 0px  0px 10px 10px;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.418);
 }

 main p{

    padding: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 20px;
 }

 main a{

    color: var(--cor5);
 }


 img{
    width: 100%;
 }

 main img.pequena {

    max-width: 300px;
    display: block;
    margin: auto;

 }
/*Macete de responsividade do videp iframe*/
 div.video{

    margin: 10px -10px ;
    padding-bottom: 57.6%;
    position: relative;

 }

 div.video > iframe{

    position: absolute;
    width: 100%;
    height: 100%;

 }

 /*---------------------------------------*/


 h2{

    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor3);
    text-shadow: 0px 1px 1px rgb(0, 0, 0);


 }
 aside {

    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
 }


 ul {
    
    list-style: inside;
    columns: 2;
    margin: 3%;
   
    
 }

 a.externo::after {

     content: "\1F517";


 }

 footer {

    color: white;
    background-color: var(--cor5);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

 }

 
